.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.childBody {
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input_text {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input_text_ra {
  width: 250px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.label_text_ra {
  width: 100%;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
}

.btn_cadastrar {
  width: 49%;
  background-color: grey;
  position: relative;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  padding: 14px 20px;
  margin: 25px 0;
  border-radius: 20px 20px 20px 20px;
}

.btn_cancelar {
  width: 49%;
  background-color: #f06565;
  position: relative;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  padding: 14px 20px;
  margin: 25px 0;
  border-radius: 20px 20px 20px 20px;
}

div {
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 10px;
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

.btn_cadastrar:hover {
  background: slategrey;
}

.btn_cancelar:hover {
  background: #fd0505;
}


.btn_editar {
  background-color: #04f86a;
}

.btn_editar:hover {
  background-color: #6b62f3;
}

.btn_nota {
  background-color: coral;
}

.btn_nota:hover {
  background-color: #f06565;
}

.styleCab {
  background-color: cadetblue;
}

.styleOne {
  background-color: #c1c1c1;
}

.styleOne:hover {
  background-color: rgb(181, 198, 216);
}

.styleTwo {
  background-color: lightgrey;
}

.styleTwo:hover {
  background-color: rgb(181, 198, 216);
}