.body {
  background-image: url(/assets/img/unicesumar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo{
  color: black;
  text-align: center;
  background-color: #b6edff;
  font-size: large;
  

}
.childBody {
  color: white;
  background-color: #32626F;
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input_text {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.input_text_ra {
  width: 250px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.label_text_ra {
  width: 100%;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
}

.btn_cadastrar {
  width: 49%;
  background-color: #669297;
  position: relative;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  padding: 14px 20px;
  margin: 25px 0;
  border-radius: 20px 20px 20px 20px;
}

.btn_cancelar {
  width: 49%;
  background-color: #f06565;
  position: relative;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  padding: 14px 20px;
  margin: 25px 0;
  border-radius: 20px 20px 20px 20px;
}

div {
  border-radius: 10px;
  background-color: #6F9DAC;
  padding: 10px;
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

.btn_cadastrar:hover {
  background: slategrey;
}

.btn_cancelar:hover {
  background: #fd0505;
}


.btn_editar {
  background-color: #04f86a;
  border-radius: 5px;
  vertical-align: center;
}

.btn_editar:hover {
  background-color: limegreen;
}

.btn_nota {
  background-color: darkorange;
  border-radius: 5px;
}

.btn_nota:hover {
  background-color: orange;
}

.btn_deletar {
  background-color: #fd0505;
  border-radius: 5px;
  align-items: center;
}

.btn_deletar:hover {
  background-color: #f06565;
}

.styleCab {
  background-color: cadetblue;
}

.styleOne {
  background-color: #c1c1c1;
}

.styleOne:hover {
  background-color: rgb(181, 198, 216);
}

.styleTwo {
  background-color: lightgrey;
}

.styleTwo:hover {
  background-color: rgb(181, 198, 216);
}

.swal-title {
  font-size: 18px !important; 
  background-color: transparent;
  font-weight: bolder;
} 

.swal-footer {
  border-top: 1px solid #E9EEF1;
  height: 35px;
  overflow: hidden;
}

.swal-button {
  margin-top: -15%;
  margin-right: -25%;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 12px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

/*

.swal-text {
  background-color: #FEFAE3;
  padding: 17px;
  border: 1px solid #F0E1A1;
  display: block;
  text-align: center;
  color: #61534e;
}

.swal-footer {
  margin-top: 32px;
  border-top: 1px solid #E9EEF1;
  overflow: hidden;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #4962B3;
  font-size: 12px;
  border: 1px solid #3e549a;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.swal-modal {
  background-color: rgba(125, 133, 127, 0.69);
  border: 3px solid white;
}
*/